<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Social e-learning</title>
<link rel="stylesheet" href="style/style.css" type="text/css" />
</head>

<body>
<div id="Wrapper">
  <div id="Container">
    <div id="Header">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><ul id="mainMenu" name="mainMenu">
            <li><a href="login.html" title="">Login</a></li>
            <li><a href="index.html" title="" class="current">Home</a></li>
            <li><a href="my-account.html" title="">Account</a></li>
          </ul>
          <div id="Identity">
            <form id="form1" name="form1" method="post" action="">
              <input name="textfield" type="text" class="SearchField" id="textfield" />
            </form>
          </div></td>
        </tr>
      </table>
    </div>
    <div id="Menu">
      <ul id="subMenu" name="subMenu">
        <li><a href="community.html" title="">Community</a></li>
        <li><a href="index.html" title="" class="current">Pick a task</a></li>
        <li><a href="instructors.html" title="">Instructors</a></li>
        <li><a href="materials.html" title="">Materials</a></li>
    <li><a href="" title="">Help</a></li></ul></div>
    <div id="Content">
<div id="Body">
        <p>&nbsp; </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    <div id="Footer">Home | Community | Instructor | Materials | My Account | Help </div>
    </div>
  </div>
</div>
	
	
	
	
	
</body>
</html>
